
    <script type="text/javascript" src="@Url.Content("~/Content/js/unicorn.tables.js")"></script>
<div id="content-header">
            <h1>我的任务</h1>
        </div>
        <div id="breadcrumb">
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <h5>
                            </h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table id="content-table" class="table table-bordered data-table">
                                <thead>
                                    <tr>
                                        <th width="150px">
                                            任务名称
                                        </th>
                                        <th>
                                            任务进度
                                        </th>
                                        <th width="150px">
                                            任务时限
                                        </th>
                                        <th width="150px">
                                            是否完成
                                        </th>
                                        <th width="70px">
                                            操作
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="gradeC">
                                        <td>
                                            任务2
                                        </td>
                                        <td>
                                            <div class="progress progress-mini" style="width:150px">
												<div style="width: 75%;" class="bar"></div>
											</div>
											<span class="percent">75%</span>
                                        </td>
                                        <td>
                                            2014-01-11
                                        </td>
                                        <td class="center">
                                            否
                                        </td>
                                        <td class="center">
                                            编辑 | 完成
                                        </td>
                                    </tr>
                                    <tr class="gradeA">
                                        <td>
                                            任务3
                                        </td>
                                        <td>
                                            <div class="progress progress-mini" style="width:150px">
												<div style="width: 50%;" class="bar"></div>
											</div>
											<span class="percent">50%</span>
                                        </td>
                                        <td>
                                            2014-01-09
                                        </td>
                                        <td class="center">
                                            否
                                        </td>
                                        <td class="center">
                                            编辑 | 完成
                                        </td>
                                    </tr><tr class="error">
                                        <td>
                                            任务1
                                        </td>
                                        <td>
                                            <div class="progress progress-mini" style="width:150px">
												<div style="width: 1%;" class="bar"></div>
											</div>
											<span class="percent">0%</span>
                                        </td>
                                        <td>
                                            2014-01-01
                                        </td>
                                        <td class="center">
                                            否
                                        </td>
                                        <td class="center">
                                            编辑 | 完成
                                        </td>
                                    </tr><tr class="success">
                                        <td>
                                            任务4
                                        </td>
                                        <td>
                                            <div class="progress progress-mini" style="width:150px">
												<div style="width: 100%;" class="bar"></div>
											</div>
											<span class="percent">100%</span>
                                        </td>
                                        <td>
                                            2014-01-01
                                        </td>
                                        <td class="center">
                                            是
                                        </td>
                                        <td class="center">
                                            -
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
