.rwgl_jdxx{}
.rwgl_jdxx .txt_01{font-size:12px; line-height:25px; font-weight:bold; color:#666666; margin-left:40px; margin-bottom:5px;}
.rwgl_jdxx .jd_input img{margin-left:10px;}
.rwgl_jdxx .fj{padding:0px 0px 15px 0px;}
.rwgl_jdxx .txt_02{font-size:12px; line-height:25px;}
.rwgl_jdxx .txt_02 a{font-size:12px; line-height:25px; color:#666666; text-decoration:underline;}
.rwgl_jdxx .txt_02 a:hover{color:#ff6600;}

.rwgl_jdxx a
{
    margin-left:5px;
}
.rwgl_jdxx input
{
    width:70% !important;
}
ul, li{list-style-type:none; padding:0px; margin:0px;}


.rwgl_jdxx .wc_sh{padding:5px 0px 15px 0px;}
.rwgl_jdxx .wc_sh .xxline{border-bottom:1px solid #EEEEEE;}

.rwgl_jdxx .txt_03{font-size:12px; line-height:20px; color:#666666; padding:5px 0px;}

.gr_shbh{}
.gr_shbh ul{width:66%; margin:0 auto;}
.gr_shbh ul li{float:left; width:100%; font-size:12px; line-height:25px; color:#666666; border-bottom:1px solid #EEEEEE; margin-bottom:5px; padding:0px 10px 0px 15px; background:url(../img/qd.gif) 5px 11px no-repeat;}